.hero {
  padding: 100px 20px;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  text-align: center;
}

.generator-card {
  max-width: 650px;
  margin: auto;
  margin-top: -30px;
  border-radius: 20px;
}